img{
    width: 30%;
    margin:calc(10%/7);
}


nav{
    text-transform: uppercase;
    border-bottom:2px solid #f1f1f1 ;
    width: 30%;
    padding: 20px 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;

}