<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Farms</title>
</head>

<body>

    <%= message %>
        <ul>
            <li>Asim Farm</li>
            <li>Nick Farm</li>
            <li>Tim Farm</li>
        </ul>


        <a href="/farms/new">NEW</a>
</body>

</html>