<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Number Generator</title>
</head>

<body>
    <!-- 352. Passing Data To Templates -->
    <h1>The random number is <%= Math.floor((Math.random() *10) +1) %>
    </h1>

    <h1>Another random number is <%= rand %>
    </h1>



</body>

</html>