<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment</title>
</head>

<body>
    <form method="post" action="/comments/<%= comment.id %>?_method=PATCH">
        <h1>Edit Comment</h1>
        <textarea name="comment" id="" cols="30" rows="10"> <%= comment.comment  %></textarea>
        <button>Submit</button>
    </form>
</body>

</html>