<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
</head>

<body>

    <h1>Comments</h1>
    <br>
    <a href="/comments/new">Add new Comment</a>
    <ul>
        <% for (each of comments){ %>
            <li> <b>
                    <%= each.username %>
                </b> - <%= each.comment%>
                    <a href="/comments/<%=each.id%>">Details</a>
            </li>
            <% } %>
    </ul>
</body>

</html>