<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Comment</title>
</head>

<body>

    <b>
        Comment Id: <%= comment.id %>
    </b> <br>
    <i>
        Username: <%= comment.username %>
    </i><br>
    <p>
        <%= comment.comment %>
    </p>

    <a href="/comments">Back to Index</a>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dicta esse excepturi fugit quam nam sunt, eos
        dolore omnis eligendi neque, quibusdam fugiat accusamus, earum consequuntur suscipit magnam recusandae pariatur.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur eaque voluptas consequatur rem, nostrum fugit
        quas molestias ratione dolorem maiores possimus saepe magni accusantium unde repellat velit exercitationem error
        totam!
        Modi, corporis. Ad minus iusto sit vero maiores fuga saepe porro optio tenetur dolorum rem perspiciatis
        excepturi, beatae sint quidem ratione repellendus. Neque saepe, velit ad eligendi in odio quasi?
        Cumque perspiciatis est, omnis perferendis quo voluptate pariatur facere quae unde consequuntur repudiandae,
        fugiat, illum officia debitis amet numquam a incidunt accusantium nesciunt tempora laborum quaerat sint quod.
        Expedita, adipisci!
        Natus consequatur at ab amet neque enim ea nisi corrupti possimus eos sit, accusantium eum placeat, doloribus
        voluptatibus voluptatum ipsum vitae quam aliquam ad. Beatae, laudantium! Nesciunt ab fuga voluptatem?
    </p>


</body>

</html>